{% extends "layout.html.twig" %}


{% block title %} Panier - {{ app.user.username }}{% endblock %}


{% block content %}
{% for bag in bags %}
    <h2><a class="productName" href="{{ path('product', { 'id': product.id }) }}">{{ bag.prod.name }}</a></h2>
{% endfor %}
{% endblock %}