{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<center><h1><img class="img-responsive" src="{{ app.request.basepath }}/images/index_background.png"></h1></center>
{% for category in categories %}
    <p><a class="categoryName" href="{{ path('category', { 'id': category.id }) }}"># {{ category.name }}</a></p>
{% endfor %}
{% endblock %}