{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
{% for product in products %}
<article>
    <h2><a class="productName" href="{{ path('product', { 'id': product.id }) }}">{{ product.name }}</a></h2>
    <p>{{ product.price }}</p>
</article>
{% endfor %}
{% endblock %}