{% extends "layout.html.twig" %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<p>
    <h2>{{ product.name }}</h2>
    <p>{{ product.desc }}</p>
    <p>{{ product.price }}</p>

</p>
{% endblock %}